<section class="w-full bg-black text-white py-4">
  <div class="flex flex-wrap mx-auto max-w-6xl">
    {{ range $i, $e:= first 4 ( sort (where .Site.RegularPages "Section" "news") "Date" "desc" ) }}
      <a href="{{ .RelPermalink }}" class="link leading-normal text-gray-200 text-sm w-full w-50-m lg:w-1/4 bg-animate hover:bg-orange-500 hover:border rounded-md hover:text-white py-3 sm:py-4 px-3 sm:px-4{{ if ge $i 2 }} hidden lg:inline-block{{ else }} inline-block{{ end }}">
        <span class="text-sm text-gray-600 pb-2 block">
          {{ .Date.Format "January 2, 2006" }}
        </span>
        {{ .Params.description | markdownify | truncate 100 "…"}}
      </a>
    {{ end }}
  </div>
</section>
