{{ $currentPage := . }}
<header class="dn-lTK relative clearfix bg-primary-color-dark pl4 w-full z-50">
  <div class="flexTK items-centerTK inline-block ">
    <a class="absolute top-0 left-0 ml4 w-32 sm:w-32 ph3  mr3" href="/">
      <img src="{{ .Site.Params.logo }}" alt="" class="w-full shadow-2">
    </a>
    <a class="f4 f3-ns lh-solid brand-font fw7 link white hover-white no-underline inline-block mv0 ml6 pl3 mr5" href="/">
     {{ .Site.Title | markdownify  }}
    </a>
  </div>

    {{ partial "nav-links" .}}
  <div class="lg:hidden">
    {{ partial "nav-button-open" .}}
  </div>
</header>
