{{ $section_to_display := .section_to_display  }}
  <div class="w-full px-4 pb-5 sm:pb-6 pt-1 mt4 sm:pt-3">

  <div class="flex">
    <div class="hidden lg:block w-20">
        {{ partial "nav-links-docs.html" .context }}
    </div>

    <div class="w-full w-80-l ph0 lg:px-4">
      <article class="w-full nested-copy-line-height nested-links nested-img">
        <h1 class="bg-steel-900 text-4xl">
          {{ with $.context.Data.Singular }}{{ . | humanize }}: {{ end }}{{ .context.Title }}
        </h1>
        <div class="{{ .Site.Params.copyClass }} mid-gray text-base lg:text-xl">
          {{ .context.Content }}
        </div>
      </article>

      <!-- TODO: May be a good idea in this case to add monthly archives -->

      <div class="flex flex-wrap">
        {{ $interior_classes := .context.Site.Params.flex_box_interior_classes }}
        <section class="flex-ns flex-wrap justify-between w-full">
          {{ range $section_to_display }}
            {{ partial "boxes-section-summaries" (dict "context" . "classes" $interior_classes "fullcontent" true) }}
          {{ end }}
        </section>
      </div>

    </div>

  </div>

</div>
