@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

html {
    font-size: 14px;
}

@screen md {
    html {
        font-size: 16px;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    fill: currentColor; /* Applies to SVG only */
}

.nested-blockquote blockquote {
    border-left: 4px solid var(--primary-color);
    padding-left: 1em;
    /*margin: 0;*/
}

.mw-90 {
    max-width: 90%;
}

/* Combine with classes in skins and skins-pseudo for 
 * many different transition possibilities. */
.bg-animate,
.bg-animate:hover,
.bg-animate:focus {
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}
